.App {
  text-align: center;
  overflow: hidden;
}

.box {
  width: 100px;
  height: 100px;
  margin: 15px auto;
}

.label {
  background-color: white;
}

.red {
  background-color: red;
}

.demo-wrapper {
  height: 400px;
  overflow: auto;
}
